# base stuff to include
include README
include CHANGES
include LICENSE
include TODO
include BUGS
include MANIFEST
include setup.py
include bin/pyscript

# add pyscript base level files
include pyscript/__init__.py
include pyscript/afm.py
include pyscript/arrowheads.py
include pyscript/base.py
include pyscript/defaults.py
include pyscript/groups.py
include pyscript/objects.py
include pyscript/path.py
include pyscript/render.py
include pyscript/vectors.py
include pyscript/version.py

# add pyscript font files
include pyscript/fonts/__init__.py
include pyscript/fonts/courier_boldoblique.py
include pyscript/fonts/courier_bold.py
include pyscript/fonts/courier_oblique.py
include pyscript/fonts/courier.py
include pyscript/fonts/helvetica_boldoblique.py
include pyscript/fonts/helvetica_bold.py
include pyscript/fonts/helvetica_oblique.py
include pyscript/fonts/helvetica.py
include pyscript/fonts/symbol.py
include pyscript/fonts/times_bolditalic.py
include pyscript/fonts/times_bold.py
include pyscript/fonts/times_italic.py
include pyscript/fonts/times_roman.py
include pyscript/fonts/zapfdingbats.py

# add pyscript library files
include pyscript/lib/__init__.py
include pyscript/lib/electronics.py
include pyscript/lib/optics.py
exclude pyscript/lib/plot.py  # incomplete
include pyscript/lib/presentation.py
include pyscript/lib/present.py
include pyscript/lib/qi.py
include pyscript/lib/quantumcircuits.py

# add the current set of examples
include doc/examples/Makefile
include doc/examples/align.py
include doc/examples/align2.py
include doc/examples/arrow.py
include doc/examples/atom.py
include doc/examples/bifurcate.py
include doc/examples/cryptClonerDiag.py
include doc/examples/detector.py
include doc/examples/distribute.py
include doc/examples/div_con.py
include doc/examples/fabry-perot_pdh.py
include doc/examples/flower_algorithm.py
include doc/examples/mach-zehnder.py
include doc/examples/michelson-morely.py
include doc/examples/qcirc.py
include doc/examples/sagnac.py
include doc/examples/sphere.py
include doc/examples/stateSwap.py
include doc/examples/teleport.py
include doc/examples/tex.py
include doc/examples/tutorial.py
include doc/examples/twoqubitQST.py
include doc/examples/xmdsFunctionality.py
include doc/examples/xmdsProcess.py

# add the manual (as it currently stands)
include doc/manual/Makefile
include doc/manual/pyscript_defs.tex
include doc/manual/pyscript.bib
include doc/manual/pyscript.tex
include doc/manual/libpresent.tex
include doc/manual/libpresentation.tex
include doc/manual/libqi.tex
include doc/manual/pyscriptOptics.tex
include doc/manual/pyscriptElectronics.tex
include doc/manual/figs/logo.pdf
include doc/manual/figs/tutorial.pdf
include doc/manual/figs/fig_position_eg1.pdf
include doc/manual/figs/fig_position_eg2.pdf
include doc/manual/figs/fig_area.pdf
include doc/manual/figs/fig_rectangle.pdf
include doc/manual/figs/fig_circle.pdf
include doc/manual/figs/fig_circle_eg1.pdf
include doc/manual/figs/fig_circle_eg2.pdf
include doc/manual/figs/fig_path.pdf
include doc/manual/figs/fig_path_eg.pdf
include doc/manual/figs/fig_text_kerning.pdf
include doc/manual/figs/fig_tex_eg.pdf
include doc/manual/figs/fig_colorchart.pdf
include doc/manual/class_structure.pdf
include doc/manual/optics/michelson-morely.pdf
include doc/manual/optics/mach-zehnder.pdf
include doc/manual/optics/sagnac.pdf
include doc/manual/optics/fabry-perot_pdh.pdf
include doc/manual/optics/BSBox.pdf
include doc/manual/optics/BSLine.pdf
include doc/manual/optics/Detector.pdf
include doc/manual/optics/FreeSpace.pdf
include doc/manual/optics/LambdaPlate.pdf
include doc/manual/optics/Laser.pdf
include doc/manual/optics/Lens.pdf
include doc/manual/optics/Mirror.pdf
include doc/manual/optics/Modulator.pdf
include doc/manual/optics/PhaseShifter.pdf
include doc/manual/electronics/AndGate.pdf
include doc/manual/electronics/NandGate.pdf
include doc/manual/electronics/OrGate.pdf
include doc/manual/electronics/NorGate.pdf
include doc/manual/electronics/XorGate.pdf
include doc/manual/electronics/NxorGate.pdf
include doc/manual/electronics/NotGate.pdf
include doc/manual/electronics/Resistor.pdf
include doc/manual/electronics/Capacitor.pdf

include doc/manual/pyscript.pdf

# add the styles for talks and posters
# talk styles
### prosper-darkblue
include contrib/styles/prosper-darkblue.py
include contrib/styles/yellowbullet.eps
include contrib/styles/redbullet.eps
include contrib/styles/greenbullet.eps
### prosper-rico
include contrib/styles/prosper-rico.py
include contrib/styles/angleHG.ps
include contrib/styles/barre-rico.ps
include contrib/styles rico_bullet1.ps
include contrib/styles rico_bullet2.ps
include contrib/styles rico_bullet3.ps

# poster styles
include contrib/styles/ccp2004-poster.py
